.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.tela {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: gray;
  height: 60px;
  width: 290px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.tela span {
  background-color: gray;
  margin-right: 10px;
}

.botoes {
  display: flex;
  flex-direction: column;
  width: 288px;
}

.botoes button {
  height: 70px;
  width: 70px;
  margin: 1px;
  color: green;
}

.numSimb {
  display: flex;
}